<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Fragebogen</title>
</head>
<body>
    <h1>Fragebogen</h1>
    <p>Firma: <%= company %></p>
    <p>Abteilung: <%= department %></p>
</body>
</html>